@page "/details/{pokemonID}"

@inject HttpClient HttpClient
@inject NavigationManager navigationManager;

@using BlazorApp.Models

<div class="container" style="margin-top: 40px; text-align: center;">
    <div class="h5" style="margin-bottom: 40px;">@pokemonDetails.Name</div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Pokemon name</th>
                <th scope="col">Abilities</th>
                <th scope="col">Types</th>
                <th scope="col">Base Experience</th>
                <th scope="col">Height</th>
                <th scope="col">Weight</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">@pokemonDetails.Name</th>
                <td>
                    <ul>
                        @foreach (var ability in pokemonAbilities)
                        {
                            <li>@ability.Ability.Name</li>
                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @foreach (var type in pokemonTypes)
                        {
                            <li>@type.Type.Name</li>
                        }
                    </ul>
                </td>
                <td>@pokemonDetails.Base_experience</td>
                <td>@pokemonDetails.Height</td>
                <td>@pokemonDetails.Weight</td>
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-primary" @onclick="RedirectHome">Back to Home!</button>
</div>

@code{
    [Parameter]
    public string pokemonID { get; set; }

    private string pokemonFetchEndpoint = "https://pokeapi.co/api/v2/pokemon";

    private PokemonDetails pokemonDetails = new PokemonDetails();
    List<PokemonAbility> pokemonAbilities = new List<PokemonAbility>();
    List<PokemonType> pokemonTypes = new List<PokemonType>();


    protected override async Task OnInitializedAsync()
    {
        var res = await HttpClient.GetFromJsonAsync<PokemonDetails>($"{pokemonFetchEndpoint}/{pokemonID}");

        pokemonAbilities = res.Abilities.ToList<PokemonAbility>();
        pokemonTypes = res.Types.ToList<PokemonType>();

        pokemonDetails.Base_experience = res.Base_experience;
        pokemonDetails.Name = FormatString(res.Name);
        pokemonDetails.Weight = res.Weight;
        pokemonDetails.Height = res.Height;
    }

    public static string FormatString(string str)
    {
        string formattedString = char.ToUpper(str.First()) + str.Substring(1).ToLower();

        return formattedString;
    }

    protected void RedirectHome()
    {
        navigationManager.NavigateTo("/");
    }

}
